###################################
# Ambiente virtual
###################################
venv/
.env

###################################
# Python (bytecode e cache)
###################################
__pycache__/
*.py[cod]
*.pyo
*.pyd

###################################
# NLP / Machine Learning caches
###################################
.cache/
.nltk_data/
huggingface/
transformers_cache/

###################################
# IDEs e editores
###################################
.vscode/
.idea/

###################################
# Sistema operacional
###################################
.DS_Store
Thumbs.db
